# Core functionality - changes here should be rare!
/src/app.py                   @Nebulanomi
/src/backend/database.py      @Nebulanomi
/src/backend/routers/auth.py  @Nebulanomi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Nebulanomi
